.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#student_name, #class_name, #grade_value {
  z-index: 0;
}

.studentButtons {
  display: flex;
  justify-content: space-around;
}

.student-list-container{
  z-index: 5
}

.invalidMessage {
    color: red;
    margin: 3%;
}

td {
  vertical-align: middle !important
}

tr > th {
    text-align: center;
}

.modalContainer{
    /* display: none; */
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4); 
}

.modalContent {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
}